thead {
	color: #337AB7;
}

.display {
	display: "";
}

.row {
	margin-top: 40px;
	padding: 0 10px;
}

.btn-custom {
	background-color: white;
	color: black
}

div.dropdown-multicol2 {
	width: 30em;
}

div.dropdown-multicol2>div.dropdown-col {
	display: inline-block;
	width: 32%;
}

.clickable {
	cursor: pointer;
}

.head-span {
	margin-top: -20px;
	font-size: 15px;
}

.heading-color {
	background-color: white;
	color: #FF00FF;
}

.dropdown-menu.columns-3 {
	min-width: 600px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

.multi-column-dropdown {
	list-style: none;
}

@media (max-width: 800px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.caret {
	border-top: 4px solid magenta;
}

.navbarpos {
	background-color: white;
	/* top: 50px;  */
	width: 100%
}

.searchboxpos {
	position: relative;
	top: 10px;
}

.cartpos {
	position: relative;
	top: 10px;
	padding: 8px
}

.carouselpos {
	position: relative;
	top: 65px;
	width: 100%;
}

.carouselheight {
	height: 350px;
}

.noborder {
	border: 0;
}

.bgcolor {
	background-color: white;
}

.tabpos {
	width: 50%;
	text-align: center;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-bottom: 5px solid;
	color: #ff0080;
	border-color: #dee2e6 #dee2e6  #ff0080;;
}