<div class="container container-styles">
	<div class="card">
		<div class="card-header bg bg-custom text-light">{{pageTitle}}</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12 center-block logo-styles text-center">
					<i class="fa fa-shopping-cart"></i>
				</div>

				<div id="div1" class="col-md-12">
					<div class="text-center">
						<span class="title-styles">mCart</span>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-12 text-center text-styles">An online app to purchase mobile gadgets</div>
			</div>
		</div>
	</div>
</div>